h1{color: blue;font-size: 60px;font-family: sans-serif;}
h2{color: blue}
#title-ann{font-size: 30px;color: purple}
#title-adeline{color: red}
#title-sarah{color:green}
#article-ann{color: purple}
#article-ann{background-color: pink}
#article-adeline{color:red}
#article-adeline{background-color: yellow}
#article-sarah{color: green}
#chinese-adeline{font-family: 標楷體;color:red}
#chinese-ann{color: purple;font-family:微軟正黑體}
#chinese-sarah{color: green;font-family: 新明細體}

